<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.config.mapper.ConfigImgMapper">

    <resultMap type="ConfigImg" id="ConfigImgResult">
        <result property="id"    column="id"    />
        <result property="imgType"    column="img_type"    />
        <result property="img"    column="img"    />
        <result property="imgName"    column="img_name"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="remark"    column="remark"    />
        <result property="enable"    column="enable"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roomCode"    column="room_code"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectConfigImgVo2">
        select a.id, a.img_type, a.img, a.img_name, a.width, a.height, a.remark, a.enable, a.create_by, a.create_time, a.update_by, a.update_time, a.room_code, a.is_delete ,b.dept_name from config_img a
          left join sys_dept b on a.room_code=b.room_code
    </sql>

    <sql id="selectConfigImgVo">
        select a.id, a.img_type, a.img_name, a.width, a.height, a.remark, a.enable, a.create_by, a.create_time, a.update_by, a.update_time, a.room_code, a.is_delete ,b.dept_name from config_img a
                                                                                                                                                                                                  left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectConfigImgList" parameterType="ConfigImg" resultMap="ConfigImgResult">
        <include refid="selectConfigImgVo"/>
        <where>
            <if test="imgType != null  and imgType != ''"> and a.img_type = #{imgType}</if>
            <if test="img != null  and img != ''"> and a.img = #{img}</if>
            <if test="imgName != null  and imgName != ''"> and a.img_name like concat('%', #{imgName}, '%')</if>
            <if test="width != null "> and a.width = #{width}</if>
            <if test="height != null "> and a.height = #{height}</if>
            <if test="enable != null "> and a.enable = #{enable}</if>
            <if test="roomCode != null  and roomCode != ''"> and a.room_code = #{roomCode}</if>
             and a.is_delete = '0'
        </where>
    </select>

    <select id="selectConfigImgById" parameterType="Long" resultMap="ConfigImgResult">
        <include refid="selectConfigImgVo2"/>
        where a.id = #{id}
    </select>

    <insert id="insertConfigImg" parameterType="ConfigImg">
        insert into config_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="imgType != null">img_type,</if>
            <if test="img != null">img,</if>
            <if test="imgName != null">img_name,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="remark != null">remark,</if>
            <if test="enable != null">enable,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="imgType != null">#{imgType},</if>
            <if test="img != null">#{img},</if>
            <if test="imgName != null">#{imgName},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="remark != null">#{remark},</if>
            <if test="enable != null">#{enable},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateConfigImg" parameterType="ConfigImg">
        update config_img
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgType != null">img_type = #{imgType},</if>
            <if test="img != null">img = #{img},</if>
            <if test="imgName != null">img_name = #{imgName},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigImgById" parameterType="Long">
        update config_img set is_delete='1' where id = #{id}
    </delete>

    <delete id="deleteConfigImgByIds" parameterType="String">
        update config_img set is_delete='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectConfigImgListByIds" parameterType="String" resultMap="ConfigImgResult">
        <include refid="selectConfigImgVo"/>
        where a.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
