<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.config.mapper.ConfigAreaMapper">

    <resultMap type="ConfigArea" id="ConfigAreaResult">
        <result property="id"    column="id"    />
        <result property="roomCode"    column="room_code"    />
        <result property="imgIds"    column="img_ids"    />
        <result property="isShow"    column="is_show"    />
        <result property="isGuide"    column="is_guide"    />
        <result property="maxCapacity"    column="max_capacity"    />
        <result property="coordinate"    column="coordinate"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>
    <sql id="selectConfigAreaVo">
        select a.id, a.room_code,b.dept_name, a.img_ids, a.is_show, a.is_guide, a.max_capacity, a.coordinate, a.create_by, a.create_time, a.update_by, a.update_time
        from config_area a
                 left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectConfigAreaList" parameterType="ConfigArea" resultMap="ConfigAreaResult">
        <include refid="selectConfigAreaVo"/>
        <where>
            <if test="roomCode != null  and roomCode != ''"> and a.room_code = #{roomCode}</if>
            <if test="imgIds != null  and imgIds != ''"> and a.img_ids = #{imgIds}</if>
            <if test="isShow != null  and isShow != ''"> and a.is_show = #{isShow}</if>
            <if test="isGuide != null  and isGuide != ''"> and a.is_guide = #{isGuide}</if>
            <if test="maxCapacity != null "> and a.max_capacity = #{maxCapacity}</if>
            <if test="coordinate != null  and coordinate != ''"> and a.coordinate = #{coordinate}</if>
        </where>
    </select>

    <select id="selectConfigAreaById" parameterType="Long" resultMap="ConfigAreaResult">
        <include refid="selectConfigAreaVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertConfigArea" parameterType="ConfigArea" useGeneratedKeys="true" keyProperty="id">
        insert into config_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomCode != null">room_code,</if>
            <if test="imgIds != null">img_ids,</if>
            <if test="isShow != null">is_show,</if>
            <if test="isGuide != null">is_guide,</if>
            <if test="maxCapacity != null">max_capacity,</if>
            <if test="coordinate != null">coordinate,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomCode != null">#{roomCode},</if>
            <if test="imgIds != null">#{imgIds},</if>
            <if test="isShow != null">#{isShow},</if>
            <if test="isGuide != null">#{isGuide},</if>
            <if test="maxCapacity != null">#{maxCapacity},</if>
            <if test="coordinate != null">#{coordinate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateConfigArea" parameterType="ConfigArea">
        update config_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="imgIds != null">img_ids = #{imgIds},</if>
            <if test="isShow != null">is_show = #{isShow},</if>
            <if test="isGuide != null">is_guide = #{isGuide},</if>
            <if test="maxCapacity != null">max_capacity = #{maxCapacity},</if>
            <if test="coordinate != null">coordinate = #{coordinate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigAreaById" parameterType="Long">
        delete from config_area where id = #{id}
    </delete>

    <delete id="deleteConfigAreaByIds" parameterType="String">
        delete from config_area where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAreaByRoomCodeAndNameAndLanguage" parameterType="String" resultMap="ConfigAreaResult">
        select ca.id, ca.room_code, ca.img_ids, ca.is_show, ca.is_guide, ca.max_capacity, ca.coordinate, ca.create_by, ca.create_time, ca.update_by, ca.update_time from config_area ca, config_area_detail cad
        where ca.id = cad.area_id
          and ca.room_code = #{location}
          and area_name = #{areaName}
          and language_type = #{languageType}
    </select>
</mapper>
