<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.bot.mapper.InspTaskResultMapper">

    <resultMap type="InspTaskResult" id="InspTaskResultResult">
        <result property="id"    column="id"    />
        <result property="inspTaskId"    column="insp_task_id"    />
        <result property="robotId"    column="robot_id"    />
        <result property="type"    column="type"    />
        <result property="point"    column="point"    />
        <result property="abnormal"    column="abnormal"    />
        <result property="abnormalInfo"    column="abnormal_info"    />
        <result property="imageBase64"    column="image_base64"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectInspTaskResultVo">
        select id, insp_task_id, robot_id, type, point, abnormal, abnormal_info, image_base64, create_time from insp_task_result
    </sql>

    <select id="selectInspTaskResultList" parameterType="InspTaskResult" resultMap="InspTaskResultResult">
        <include refid="selectInspTaskResultVo"/>
        <where>
            <if test="inspTaskId != null "> and insp_task_id = #{inspTaskId}</if>
            <if test="robotId != null  and robotId != ''"> and robot_id = #{robotId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="point != null  and point != ''"> and point = #{point}</if>
            <if test="abnormal != null  and abnormal != ''"> and abnormal = #{abnormal}</if>
            <if test="abnormalInfo != null  and abnormalInfo != ''"> and abnormal_info = #{abnormalInfo}</if>
            <if test="imageBase64 != null  and imageBase64 != ''"> and image_base64 = #{imageBase64}</if>
        </where>
    </select>

    <select id="selectInspTaskResultById" parameterType="Long" resultMap="InspTaskResultResult">
        <include refid="selectInspTaskResultVo"/>
        where id = #{id}
    </select>

    <insert id="insertInspTaskResult" parameterType="InspTaskResult" useGeneratedKeys="true" keyProperty="id">
        insert into insp_task_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspTaskId != null">insp_task_id,</if>
            <if test="robotId != null">robot_id,</if>
            <if test="type != null">type,</if>
            <if test="point != null">point,</if>
            <if test="abnormal != null">abnormal,</if>
            <if test="abnormalInfo != null">abnormal_info,</if>
            <if test="imageBase64 != null">image_base64,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspTaskId != null">#{inspTaskId},</if>
            <if test="robotId != null">#{robotId},</if>
            <if test="type != null">#{type},</if>
            <if test="point != null">#{point},</if>
            <if test="abnormal != null">#{abnormal},</if>
            <if test="abnormalInfo != null">#{abnormalInfo},</if>
            <if test="imageBase64 != null">#{imageBase64},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateInspTaskResult" parameterType="InspTaskResult">
        update insp_task_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="inspTaskId != null">insp_task_id = #{inspTaskId},</if>
            <if test="robotId != null">robot_id = #{robotId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="point != null">point = #{point},</if>
            <if test="abnormal != null">abnormal = #{abnormal},</if>
            <if test="abnormalInfo != null">abnormal_info = #{abnormalInfo},</if>
            <if test="imageBase64 != null">image_base64 = #{imageBase64},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInspTaskResultById" parameterType="Long">
        delete from insp_task_result where id = #{id}
    </delete>

    <delete id="deleteInspTaskResultByIds" parameterType="String">
        delete from insp_task_result where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
