<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.bot.mapper.RobotCmdLogMapper">

    <resultMap type="RobotCmdLog" id="RobotCmdLogResult">
        <result property="id"    column="id"    />
        <result property="robotId"    column="robot_id"    />
        <result property="cmd"    column="cmd"    />
        <result property="cmdType"    column="cmd_type"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRobotCmdLogVo">
        select id, robot_id, cmd, cmd_type, create_time from robot_cmd_log
    </sql>

    <select id="selectRobotCmdLogList" parameterType="RobotCmdLog" resultMap="RobotCmdLogResult">
        <include refid="selectRobotCmdLogVo"/>
        <where>
            <if test="robotId != null  and robotId != ''"> and robot_id = #{robotId}</if>
            <if test="cmd != null  and cmd != ''"> and cmd = #{cmd}</if>
            <if test="cmdType != null  and cmdType != ''"> and cmd_type = #{cmdType}</if>
        </where>
    </select>

    <select id="selectRobotCmdLogById" parameterType="Long" resultMap="RobotCmdLogResult">
        <include refid="selectRobotCmdLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertRobotCmdLog" parameterType="RobotCmdLog" useGeneratedKeys="true" keyProperty="id">
        insert into robot_cmd_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="robotId != null">robot_id,</if>
            <if test="cmd != null">cmd,</if>
            <if test="cmdType != null">cmd_type,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="robotId != null">#{robotId},</if>
            <if test="cmd != null">#{cmd},</if>
            <if test="cmdType != null">#{cmdType},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateRobotCmdLog" parameterType="RobotCmdLog">
        update robot_cmd_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="robotId != null">robot_id = #{robotId},</if>
            <if test="cmd != null">cmd = #{cmd},</if>
            <if test="cmdType != null">cmd_type = #{cmdType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRobotCmdLogById" parameterType="Long">
        delete from robot_cmd_log where id = #{id}
    </delete>

    <delete id="deleteRobotCmdLogByIds" parameterType="String">
        delete from robot_cmd_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
