<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.flight.mapper.FlightKafkaLogMapper">
    
    <resultMap type="FlightKafkaLog" id="FlightKafkaLogResult">
        <result property="id"    column="id"    />
        <result property="subType"    column="sub_type"    />
        <result property="msg"    column="msg"    />
        <result property="createTime"    column="create_time"    />
        <result property="airportCode"    column="airport_code"    />
    </resultMap>

    <sql id="selectFlightKafkaLogVo">
        select id, sub_type, msg, create_time, airport_code from flight_kafka_log
    </sql>

    <select id="selectFlightKafkaLogList" parameterType="FlightKafkaLog" resultMap="FlightKafkaLogResult">
        <include refid="selectFlightKafkaLogVo"/>
        <where>  
            <if test="subType != null  and subType != ''"> and sub_type = #{subType}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
            <if test="airportCode != null  and airportCode != ''"> and airport_code = #{airportCode}</if>
        </where>
    </select>
    
    <select id="selectFlightKafkaLogById" parameterType="Long" resultMap="FlightKafkaLogResult">
        <include refid="selectFlightKafkaLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlightKafkaLog" parameterType="FlightKafkaLog" useGeneratedKeys="true" keyProperty="id">
        insert into flight_kafka_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subType != null">sub_type,</if>
            <if test="msg != null">msg,</if>
            <if test="createTime != null">create_time,</if>
            <if test="airportCode != null">airport_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subType != null">#{subType},</if>
            <if test="msg != null">#{msg},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="airportCode != null">#{airportCode},</if>
         </trim>
    </insert>

    <update id="updateFlightKafkaLog" parameterType="FlightKafkaLog">
        update flight_kafka_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="subType != null">sub_type = #{subType},</if>
            <if test="msg != null">msg = #{msg},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="airportCode != null">airport_code = #{airportCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlightKafkaLogById" parameterType="Long">
        delete from flight_kafka_log where id = #{id}
    </delete>

    <delete id="deleteFlightKafkaLogByIds" parameterType="String">
        delete from flight_kafka_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>