<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.flight.mapper.FlightGateMapper">

    <resultMap type="FlightGate" id="FlightGateResult">
        <result property="flightId"    column="flight_id"    />
        <result property="gateCd"    column="gate_cd"    />
        <result property="gateAttr"    column="gate_attr"    />
        <result property="estmStartTime"    column="estm_start_time"    />
        <result property="estmEndTime"    column="estm_end_time"    />
        <result property="terminalCd"    column="terminal_cd"    />
        <result property="sendTime"    column="send_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="scheExecDate"    column="sche_exec_date"    />
    </resultMap>

    <sql id="selectFlightGateVo">
        select flight_id, gate_cd, gate_attr, estm_start_time, estm_end_time, terminal_cd, send_time, update_time, sche_exec_date from flight_gate
    </sql>

    <select id="selectFlightGateList" parameterType="FlightGate" resultMap="FlightGateResult">
        <include refid="selectFlightGateVo"/>
        <where>
            <if test="gateCd != null  and gateCd != ''"> and gate_cd = #{gateCd}</if>
            <if test="gateAttr != null  and gateAttr != ''"> and gate_attr = #{gateAttr}</if>
            <if test="estmStartTime != null  and estmStartTime != ''"> and estm_start_time = #{estmStartTime}</if>
            <if test="estmEndTime != null  and estmEndTime != ''"> and estm_end_time = #{estmEndTime}</if>
            <if test="terminalCd != null  and terminalCd != ''"> and terminal_cd = #{terminalCd}</if>
            <if test="sendTime != null  and sendTime != ''"> and send_time = #{sendTime}</if>
            <if test="scheExecDate != null  and scheExecDate != ''"> and sche_exec_date = #{scheExecDate}</if>
        </where>
    </select>

    <select id="selectFlightGateByFlightId" parameterType="String" resultMap="FlightGateResult">
        <include refid="selectFlightGateVo"/>
        where flight_id = #{flightId}
    </select>

    <insert id="insertFlightGate" parameterType="FlightGate">
        insert into flight_gate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flightId != null">flight_id,</if>
            <if test="gateCd != null">gate_cd,</if>
            <if test="gateAttr != null">gate_attr,</if>
            <if test="estmStartTime != null">estm_start_time,</if>
            <if test="estmEndTime != null">estm_end_time,</if>
            <if test="terminalCd != null">terminal_cd,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="scheExecDate != null">sche_exec_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flightId != null">#{flightId},</if>
            <if test="gateCd != null">#{gateCd},</if>
            <if test="gateAttr != null">#{gateAttr},</if>
            <if test="estmStartTime != null">#{estmStartTime},</if>
            <if test="estmEndTime != null">#{estmEndTime},</if>
            <if test="terminalCd != null">#{terminalCd},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="scheExecDate != null">#{scheExecDate},</if>
        </trim>
    </insert>

    <update id="updateFlightGate" parameterType="FlightGate">
        update flight_gate
        <trim prefix="SET" suffixOverrides=",">
            <if test="gateCd != null">gate_cd = #{gateCd},</if>
            <if test="gateAttr != null">gate_attr = #{gateAttr},</if>
            <if test="estmStartTime != null">estm_start_time = #{estmStartTime},</if>
            <if test="estmEndTime != null">estm_end_time = #{estmEndTime},</if>
            <if test="terminalCd != null">terminal_cd = #{terminalCd},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="scheExecDate != null">sche_exec_date = #{scheExecDate},</if>
        </trim>
        where flight_id = #{flightId}
    </update>

    <delete id="deleteFlightGateByFlightId" parameterType="String">
        delete from flight_gate where flight_id = #{flightId}
    </delete>

    <delete id="deleteFlightGateByFlightIds" parameterType="String">
        delete from flight_gate where flight_id in
        <foreach item="flightId" collection="array" open="(" separator="," close=")">
            #{flightId}
        </foreach>
    </delete>
</mapper>
