<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.flight.mapper.PassengerOutLogMapper">

    <resultMap type="PassengerOutLog" id="PassengerOutLogResult">
        <result property="id"    column="id"    />
        <result property="reid"    column="reid"    />
        <result property="passengerId"    column="passenger_id"    />
        <result property="outTime"    column="out_time"    />
        <result property="userName"    column="user_name"    />
        <result property="roomCode"    column="room_code"    />
        <result property="flightNo"    column="flight_no"    />
        <result property="flightDate"    column="flight_date"    />
        <result property="recognitionType"    column="recognition_type"    />
        <result property="cts"    column="cts"    />
    </resultMap>

    <sql id="selectPassengerOutLogVo">
        select id, reid, passenger_id, out_time, user_name, room_code, flight_no, flight_date, recognition_type, cts from passenger_out_log
    </sql>

    <select id="selectPassengerOutLogList" parameterType="PassengerOutLog" resultMap="PassengerOutLogResult">
        <include refid="selectPassengerOutLogVo"/>
        <where>
            <if test="reid != null  and reid != ''"> and reid = #{reid}</if>
            <if test="passengerId != null  and passengerId != ''"> and passenger_id = #{passengerId}</if>
            <if test="outTime != null "> and out_time = #{outTime}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="roomCode != null  and roomCode != ''"> and room_code = #{roomCode}</if>
            <if test="flightNo != null  and flightNo != ''"> and flight_no = #{flightNo}</if>
            <if test="flightDate != null "> and flight_date = #{flightDate}</if>
        </where>
    </select>

    <select id="selectPassengerOutLogById" parameterType="Long" resultMap="PassengerOutLogResult">
        <include refid="selectPassengerOutLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertPassengerOutLog" parameterType="PassengerOutLog" useGeneratedKeys="true" keyProperty="id">
        insert into passenger_out_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reid != null">reid,</if>
            <if test="pid != null">pid,</if>
            <if test="passengerId != null">passenger_id,</if>
            <if test="outTime != null">out_time,</if>
            <if test="userName != null">user_name,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="flightNo != null">flight_no,</if>
            <if test="flightDate != null">flight_date,</if>
            <if test="recognitionType != null">recognition_type,</if>
            <if test="cts != null">cts,</if>
            <if test="origImageUrl != null">ori_image_url,</if>
            <if test="registerImageUrl != null">register_image_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reid != null">#{reid},</if>
            <if test="pid != null">#{pid},</if>
            <if test="passengerId != null">#{passengerId},</if>
            <if test="outTime != null">#{outTime},</if>
            <if test="userName != null">#{userName},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="flightNo != null">#{flightNo},</if>
            <if test="flightDate != null">#{flightDate},</if>
            <if test="recognitionType != null">#{recognitionType},</if>
            <if test="cts != null">#{cts},</if>
            <if test="origImageUrl != null">#{origImageUrl},</if>
            <if test="registerImageUrl != null">#{registerImageUrl},</if>
         </trim>
    </insert>

    <update id="updatePassengerOutLog" parameterType="PassengerOutLog">
        update passenger_out_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="reid != null">reid = #{reid},</if>
            <if test="passengerId != null">passenger_id = #{passengerId},</if>
            <if test="outTime != null">out_time = #{outTime},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="flightNo != null">flight_no = #{flightNo},</if>
            <if test="flightDate != null">flight_date = #{flightDate},</if>
            <if test="recognitionType != null">recognition_type = #{recognitionType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePassengerOutLogById" parameterType="Long">
        delete from passenger_out_log where id = #{id}
    </delete>

    <delete id="deletePassengerOutLogByIds" parameterType="String">
        delete from passenger_out_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPassengerOutLogByCtsId" parameterType="String" resultMap="PassengerOutLogResult">
        <include refid="selectPassengerOutLogVo"/>
        where cts = #{cts}
    </select>
</mapper>
