<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.flight.mapper.PassengerWarningLogMapper">

    <resultMap type="PassengerWarningLog" id="PassengerWarningLogResult">
        <result property="id"    column="id"    />
        <result property="passengerId"    column="passenger_id"    />
        <result property="flightId"    column="flight_id"    />
        <result property="flightWarningId"    column="flight_warning_id"    />
        <result property="warningType"    column="warning_type"    />
        <result property="noticeType"    column="notice_type"    />
        <result property="regionId"    column="region_id"    />
        <result property="warningInfo"    column="warning_info"    />
        <result property="isSuccess"    column="is_success"    />
        <result property="robotTaskId"    column="robot_task_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPassengerWarningLogVo">
        select id, passenger_id, flight_id, flight_warning_id, warning_type, notice_type, region_id, warning_info, is_success, robot_task_id, create_by, create_time, update_by, update_time from passenger_warning_log
    </sql>

    <select id="selectPassengerWarningLogList" parameterType="PassengerWarningLog" resultMap="PassengerWarningLogResult">
        <include refid="selectPassengerWarningLogVo"/>
        <where>
            <if test="passengerId != null "> and passenger_id = #{passengerId}</if>
            <if test="flightId != null  and flightId != ''"> and flight_id = #{flightId}</if>
            <if test="flightWarningId != null "> and flight_warning_id = #{flightWarningId}</if>
            <if test="warningType != null  and warningType != ''"> and warning_type = #{warningType}</if>
            <if test="noticeType != null  and noticeType != ''"> and notice_type = #{noticeType}</if>
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="warningInfo != null  and warningInfo != ''"> and warning_info = #{warningInfo}</if>
            <if test="isSuccess != null  and isSuccess != ''"> and is_success = #{isSuccess}</if>
            <if test="robotTaskId != null "> and robot_task_id = #{robotTaskId}</if>
        </where>
    </select>

    <select id="selectPassengerWarningLogById" parameterType="Long" resultMap="PassengerWarningLogResult">
        <include refid="selectPassengerWarningLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertPassengerWarningLog" parameterType="PassengerWarningLog" useGeneratedKeys="true" keyProperty="id">
        insert into passenger_warning_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="passengerId != null">passenger_id,</if>
            <if test="flightId != null">flight_id,</if>
            <if test="flightWarningId != null">flight_warning_id,</if>
            <if test="warningType != null">warning_type,</if>
            <if test="noticeType != null">notice_type,</if>
            <if test="regionId != null">region_id,</if>
            <if test="warningInfo != null">warning_info,</if>
            <if test="isSuccess != null">is_success,</if>
            <if test="robotTaskId != null">robot_task_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="passengerId != null">#{passengerId},</if>
            <if test="flightId != null">#{flightId},</if>
            <if test="flightWarningId != null">#{flightWarningId},</if>
            <if test="warningType != null">#{warningType},</if>
            <if test="noticeType != null">#{noticeType},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="warningInfo != null">#{warningInfo},</if>
            <if test="isSuccess != null">#{isSuccess},</if>
            <if test="robotTaskId != null">#{robotTaskId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePassengerWarningLog" parameterType="PassengerWarningLog">
        update passenger_warning_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="passengerId != null">passenger_id = #{passengerId},</if>
            <if test="flightId != null">flight_id = #{flightId},</if>
            <if test="flightWarningId != null">flight_warning_id = #{flightWarningId},</if>
            <if test="warningType != null">warning_type = #{warningType},</if>
            <if test="noticeType != null">notice_type = #{noticeType},</if>
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="warningInfo != null">warning_info = #{warningInfo},</if>
            <if test="isSuccess != null">is_success = #{isSuccess},</if>
            <if test="robotTaskId != null">robot_task_id = #{robotTaskId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePassengerWarningLogById" parameterType="Long">
        delete from passenger_warning_log where id = #{id}
    </delete>

    <delete id="deletePassengerWarningLogByIds" parameterType="String">
        delete from passenger_warning_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCurWarningLogList" resultMap="PassengerWarningLogResult">
        <include refid="selectPassengerWarningLogVo"/>
        where date(create_time) = curdate()
    </select>
</mapper>
