<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.food.mapper.FoodOrderDetailMapper">

    <resultMap type="FoodOrderDetail" id="FoodOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="foodName"    column="food_name"    />
        <result property="foodId"    column="food_id"    />
        <result property="num"    column="num"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectFoodOrderDetailVo">
        select id, order_id, food_name, food_id, num, price from food_order_detail
    </sql>

    <select id="selectFoodOrderDetailList" parameterType="FoodOrderDetail" resultMap="FoodOrderDetailResult">
        <include refid="selectFoodOrderDetailVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="foodName != null  and foodName != ''"> and food_name like concat('%', #{foodName}, '%')</if>
            <if test="foodId != null "> and food_id = #{foodId}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="price != null "> and price = #{price}</if>
        </where>
    </select>

    <select id="selectFoodOrderDetailById" parameterType="Long" resultMap="FoodOrderDetailResult">
        <include refid="selectFoodOrderDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertFoodOrderDetail" parameterType="FoodOrderDetail" useGeneratedKeys="true" keyProperty="id">
        insert into food_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="foodName != null">food_name,</if>
            <if test="foodId != null">food_id,</if>
            <if test="num != null">num,</if>
            <if test="price != null">price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="foodName != null">#{foodName},</if>
            <if test="foodId != null">#{foodId},</if>
            <if test="num != null">#{num},</if>
            <if test="price != null">#{price},</if>
        </trim>
    </insert>

    <update id="updateFoodOrderDetail" parameterType="FoodOrderDetail">
        update food_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="foodName != null">food_name = #{foodName},</if>
            <if test="foodId != null">food_id = #{foodId},</if>
            <if test="num != null">num = #{num},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFoodOrderDetailById" parameterType="Long">
        delete from food_order_detail where id = #{id}
    </delete>

    <delete id="deleteFoodOrderDetailByIds" parameterType="String">
        delete from food_order_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
