<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.food.mapper.FoodConfigMapper">

    <resultMap type="FoodConfig" id="FoodConfigResult">
        <result property="foodId"    column="food_id"    />
        <result property="name"    column="name"    />
        <result property="imgIds"    column="img_ids"    />
        <result property="price"    column="price"    />
        <result property="calorie"    column="calorie"    />
        <result property="dicTypeCode"    column="dic_type_code"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roomCode"    column="room_code"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectFoodConfigVo">
        select a.food_id, a.name, a.img_ids, a.price, a.calorie, a.dic_type_code, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.room_code,b.dept_name from food_config a
           left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectFoodConfigList" parameterType="FoodConfig" resultMap="FoodConfigResult">
        <include refid="selectFoodConfigVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="imgIds != null  and imgIds != ''"> and a,img_ids = #{imgIds}</if>
            <if test="price != null "> and a.price = #{price}</if>
            <if test="calorie != null  and calorie != ''"> and a.calorie = #{calorie}</if>
            <if test="dicTypeCode != null  and dicTypeCode != ''"> and a.dic_type_code = #{dicTypeCode}</if>
            <if test="roomCode != null  and roomCode != ''"> and a.room_code = #{roomCode}</if>
        </where>
    </select>

    <select id="selectFoodConfigByFoodId" parameterType="Long" resultMap="FoodConfigResult">
        <include refid="selectFoodConfigVo"/>
        where a.food_id = #{foodId}
    </select>

    <insert id="insertFoodConfig" parameterType="FoodConfig" useGeneratedKeys="true" keyProperty="foodId">
        insert into food_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="imgIds != null">img_ids,</if>
            <if test="price != null">price,</if>
            <if test="calorie != null">calorie,</if>
            <if test="dicTypeCode != null">dic_type_code,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roomCode != null">room_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="imgIds != null">#{imgIds},</if>
            <if test="price != null">#{price},</if>
            <if test="calorie != null">#{calorie},</if>
            <if test="dicTypeCode != null">#{dicTypeCode},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roomCode != null">#{roomCode},</if>
        </trim>
    </insert>

    <update id="updateFoodConfig" parameterType="FoodConfig">
        update food_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="imgIds != null">img_ids = #{imgIds},</if>
            <if test="price != null">price = #{price},</if>
            <if test="calorie != null">calorie = #{calorie},</if>
            <if test="dicTypeCode != null">dic_type_code = #{dicTypeCode},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
        </trim>
        where food_id = #{foodId}
    </update>

    <delete id="deleteFoodConfigByFoodId" parameterType="Long">
        delete from food_config where food_id = #{foodId}
    </delete>

    <delete id="deleteFoodConfigByFoodIds" parameterType="String">
        delete from food_config where food_id in
        <foreach item="foodId" collection="array" open="(" separator="," close=")">
            #{foodId}
        </foreach>
    </delete>
    <select id="queryTypeList" resultType="com.robotmonitor.food.dto.FoodConfigDto">
            SELECT d.dict_label typeName,d.dict_value value
            from sys_dict_data d
            WHERE d.dict_type='food_type' and d.`status`=0
            ORDER BY d.dict_sort
    </select>
</mapper>
