<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.food.mapper.FoodPlanMapper">

    <resultMap type="FoodPlan" id="FoodPlanResult">
        <result property="id"    column="id"    />
        <result property="startDay"    column="start_day"    />
        <result property="endDay"    column="end_day"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roomCode"    column="room_code"    />
        <result property="foodIds"    column="food_ids"    />
        <result property="foodNames"    column="food_names"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectFoodPlanVo">
        select a.id, a.start_day, a.end_day, a.create_by, a.create_time, a.update_by, a.update_time, a.room_code, a.food_ids, a.food_names,b.dept_name from food_plan a
           left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectFoodPlanList" parameterType="FoodPlan" resultMap="FoodPlanResult">
        <include refid="selectFoodPlanVo"/>
        <where>
            <if test="startDay != null  and startDay != ''"> and a.start_day = #{startDay}</if>
            <if test="endDay != null  and endDay != ''"> and a.end_day = #{endDay}</if>
            <if test="roomCode != null  and roomCode != ''"> and a.room_code = #{roomCode}</if>
            <if test="foodIds != null  and foodIds != ''"> and a.food_ids = #{foodIds}</if>
            <if test="foodNames != null  and foodNames != ''"> and a.food_names = #{foodNames}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectFoodPlanById" parameterType="Long" resultMap="FoodPlanResult">
        <include refid="selectFoodPlanVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertFoodPlan" parameterType="FoodPlan" useGeneratedKeys="true" keyProperty="id">
        insert into food_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="startDay != null">start_day,</if>
            <if test="endDay != null">end_day,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="foodIds != null">food_ids,</if>
            <if test="foodNames != null">food_names,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="startDay != null">#{startDay},</if>
            <if test="endDay != null">#{endDay},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="foodIds != null">#{foodIds},</if>
            <if test="foodNames != null">#{foodNames},</if>
        </trim>
    </insert>

    <update id="updateFoodPlan" parameterType="FoodPlan">
        update food_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="startDay != null">start_day = #{startDay},</if>
            <if test="endDay != null">end_day = #{endDay},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="foodIds != null">food_ids = #{foodIds},</if>
            <if test="foodNames != null">food_names = #{foodNames},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFoodPlanById" parameterType="Long">
        delete from food_plan where id = #{id}
    </delete>

    <delete id="deleteFoodPlanByIds" parameterType="String">
        delete from food_plan where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
