<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.food.mapper.FoodDailyMapper">

    <resultMap type="FoodDaily" id="FoodDailyResult">
        <result property="id"    column="id"    />
        <result property="foodDate"    column="food_date"    />
        <result property="foodId"    column="food_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roomCode"    column="room_code"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>
    <sql id="selectFoodDailyVo">
        select a.id, a.food_date, a.food_id, a.status, a.create_by, a.create_time, a.update_by, a.update_time,a.room_code,b.dept_name from food_daily a
                                                                                                                 left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectFoodDailyList" parameterType="String" resultType="com.robotmonitor.food.dto.FoodDailyDto">
        select a.id, a.food_date as foodDate,a.food_id as foodId,a.`status`,b.`name` as foodName,b.dic_type_code as foodType,c.dept_name as deptName,b.calorie,b.remark,b.img_ids as imgIds,a.room_code as roomCode from food_daily a
        left join food_config b on b.food_id=a.food_id
        left join sys_dept c on a.room_code=c.room_code
        where a.food_date=#{foodDate} and a.room_code=#{roomCode}
        order by a.status desc
    </select>

    <select id="selectFoodDailyById" parameterType="Long" resultMap="FoodDailyResult">
        <include refid="selectFoodDailyVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertFoodDaily" parameterType="FoodDaily">
        insert into food_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="foodDate != null">food_date,</if>
            <if test="foodId != null">food_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roomCode != null">room_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="foodDate != null">#{foodDate},</if>
            <if test="foodId != null">#{foodId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roomCode != null">#{roomCode},</if>
        </trim>
    </insert>

    <update id="updateFoodDaily" parameterType="FoodDaily">
        update food_daily
        <trim prefix="SET" suffixOverrides=",">
            <if test="foodDate != null">food_date = #{foodDate},</if>
            <if test="foodId != null">food_id = #{foodId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFoodDailyById" parameterType="Long">
        delete from food_daily where id = #{id}
    </delete>

    <delete id="deleteFoodDailyByIds" parameterType="String">
        delete from food_daily where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFoodDailyByDate">
        delete from food_daily where food_date >= #{dStart} and food_date &lt;= #{dEnd} and room_code=#{roomCode}
    </delete>
</mapper>
