<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.food.mapper.FoodOrderMapper">

    <resultMap type="FoodOrder" id="FoodOrderResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="deskNo"    column="desk_no"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="cardNo"    column="card_no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="roomCode"    column="room_code"    />
        <result property="tableId"    column="table_id"    />
        <result property="deptName"    column="dept_name"    />
    </resultMap>

    <sql id="selectFoodOrderVo">
        select a.id, a.order_code, a.desk_no, a.remark, a.status, a.card_no, a.create_by, a.create_time, a.update_by, a.update_time, a.room_code,b.dept_name from food_order a
          left join sys_dept b on a.room_code=b.room_code
    </sql>

    <select id="selectFoodOrderList" parameterType="FoodOrder" resultMap="FoodOrderResult">
        <include refid="selectFoodOrderVo"/>
        <where>
            <if test="orderCode != null  and orderCode != ''"> and a.order_code = #{orderCode}</if>
            <if test="deskNo != null  and deskNo != ''"> and a.desk_no = #{deskNo}</if>
            <if test="tableId != null  and tableId != ''"> and a.table_id = #{tableId}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="cardNo != null  and cardNo != ''"> and a.card_no = #{cardNo}</if>
            <if test="roomCode != null  and roomCode != ''"> and a.room_code = #{roomCode}</if>
        </where>
    </select>

    <select id="selectFoodOrderById" parameterType="Long" resultMap="FoodOrderResult">
        <include refid="selectFoodOrderVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertFoodOrder" parameterType="FoodOrder" useGeneratedKeys="true" keyProperty="id">
        insert into food_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">order_code,</if>
            <if test="deskNo != null">desk_no,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="tableId != null">table_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">#{orderCode},</if>
            <if test="deskNo != null">#{deskNo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="tableId != null">#{tableId},</if>
        </trim>
    </insert>

    <update id="updateFoodOrder" parameterType="FoodOrder">
        update food_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="deskNo != null">desk_no = #{deskNo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tableId != null">table_id = #{tableId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFoodOrderById" parameterType="Long">
        delete from food_order where id = #{id}
    </delete>

    <delete id="deleteFoodOrderByIds" parameterType="String">
        delete from food_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="queryFoodOrderList" resultType="com.robotmonitor.food.dto.FoodOrderDto"  parameterType="FoodOrder">
SELECT
	o.id,
	o.order_code orderCode,
	o.desk_no deskNo,
	o.status status,
    o.room_code roomCode,
        o.table_id tableId,
        o.remark,
	FORMAT((
		SELECT
			sum( d.num * d.price )
		FROM
			food_order_detail d
		WHERE
			d.order_id = o.id
			),2) orderPrice,
		o.create_time createTime,
		'已完成' orderStatus
FROM
	food_order o
        <where>
            <if test="orderCode != null  and orderCode != ''"> and order_code like  concat('%', #{orderCode}, '%') </if>
            <if test="status != null  and status != ''"> and order_status = #{status}</if>
            <if test="roomCode != null  and roomCode != ''"> and o.room_code = #{roomCode}</if>
            <if test="deskNo != null  and deskNo != ''"> and desk_no = #{deskNo}</if>
            <if test="createTime != null">and o.create_time >= #{createTime}</if>
        </where>
	ORDER BY o.create_time desc
    </select>

    <update id="updateWorkStatus" parameterType="FoodOrder">
        update food_order
        set work_status=#{workStatus}
        where food_order_id = #{foodOrderId}
    </update>
</mapper>
