<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robotmonitor.config.mapper.ConfigAreaLogMapper">

    <resultMap type="ConfigAreaLog" id="ConfigAreaLogResult">
        <result property="id"    column="id"    />
        <result property="areaId"    column="area_id"    />
        <result property="robotId"    column="robot_id"    />
        <result property="roomCode"    column="room_code"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectConfigAreaLogVo">
        select id, area_id, robot_id, room_code, create_time from config_area_log
    </sql>

    <select id="selectConfigAreaLogList" parameterType="ConfigAreaLog" resultMap="ConfigAreaLogResult">
        <include refid="selectConfigAreaLogVo"/>
        <where>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="robotId != null  and robotId != ''"> and robot_id = #{robotId}</if>
            <if test="roomCode != null  and roomCode != ''"> and room_code = #{roomCode}</if>
        </where>
    </select>

    <select id="selectConfigAreaLogById" parameterType="Long" resultMap="ConfigAreaLogResult">
        <include refid="selectConfigAreaLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertConfigAreaLog" parameterType="ConfigAreaLog">
        insert into config_area_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="robotId != null">robot_id,</if>
            <if test="roomCode != null">room_code,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="robotId != null">#{robotId},</if>
            <if test="roomCode != null">#{roomCode},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateConfigAreaLog" parameterType="ConfigAreaLog">
        update config_area_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="robotId != null">robot_id = #{robotId},</if>
            <if test="roomCode != null">room_code = #{roomCode},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigAreaLogById" parameterType="Long">
        delete from config_area_log where id = #{id}
    </delete>

    <delete id="deleteConfigAreaLogByIds" parameterType="String">
        delete from config_area_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
